In [97]:
import pandas as pd

kaggle = pd.read_csv("kaggle_converted_dates.csv")


## Clean the data to drop NaN values in order to build the best regression possible
kaggle.dropna(subset=['location', 'work_life_balance', 'culture_values',
                       'career_opp', 'comp_benefits', 'senior_mgmt'], inplace=True)

kaggle.reset_index(drop=True, inplace=True)

kaggle.head()

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,...,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons,Symbol,Name,Industry
0,McDonald-s,2020-09-16,Crew Member,"Former Employee, less than 1 year","East Lansing, MI",2,3.0,3.0,5.0,1.0,...,1.0,x,r,v,Toxic Work Environment,Some of the other younger people were cool,Managers treat lower staff very poorly,MCD,McDonald's Corporation Common Stock,Restaurants
1,McDonald-s,2020-09-19,Crew Member,"Former Employee, more than 1 year","Kennewick, WA",4,5.0,3.0,5.0,1.0,...,3.0,v,r,r,Great College Job,"flexible schedule, fun environment, free food,...","free food, very little career opportunities, l...",MCD,McDonald's Corporation Common Stock,Restaurants
2,McDonald-s,2020-09-22,Crew Member,"Former Employee, less than 1 year","Auckland, Auckland",3,5.0,3.0,5.0,2.0,...,2.0,x,r,r,Exhausting,Half price off favorites menu and learn to wor...,"Managers keep you over time, shout at you and ...",MCD,McDonald's Corporation Common Stock,Restaurants
3,McDonald-s,2020-09-30,Crew Member,"Former Employee, more than 1 year","Bristol, England, England",3,5.0,3.0,5.0,3.0,...,4.0,v,r,r,Good first job,"Teaches you hard work, team, flexibility","Hard work, low pay (especially for amount of w...",MCD,McDonald's Corporation Common Stock,Restaurants
4,McDonald-s,2020-10-05,Crew Member,"Current Employee, more than 3 years","Petoskey, MI",3,5.0,3.0,5.0,5.0,...,5.0,o,o,o,Ade,Good company to work for,Lots of drama in workplace,MCD,McDonald's Corporation Common Stock,Restaurants

In [98]:
# Check the number of remaining rows left in the dataset
len(kaggle.index)

121546

In [99]:
'''
import pandas as pd

# Assuming df is your DataFrame
# Replace 'your_file_name.csv' with the desired file name
kaggle.to_csv('KaggleCleaned.csv', index=False)
'''

"\nimport pandas as pd\n\n# Assuming df is your DataFrame\n# Replace 'your_file_name.csv' with the desired file name\nkaggle.to_csv('KaggleCleaned.csv', index=False)\n"

In [100]:
# !pip install yfinance

In [101]:
tickers = kaggle['Symbol'].unique()

print(tickers)

['MCD' 'ORAN' 'ORCL' 'MS' 'TRI' 'CRM' 'AAPL' 'ARMK' 'MSFT' 'AXP' 'HSBC'
 'YEXT' 'LYG' 'WTW' 'DVA' 'PRSO' 'KFY' 'SPWR' 'WIT' 'CSCO' 'IBIO' 'DT'
 'AWRE']

In [102]:
import urllib.request
import json
from pandas import json_normalize

raw_finance = []

beg_url = "https://query1.finance.yahoo.com/v8/finance/chart/"
end_url = "?metrics=high?&interval=3mo&range=5y"

for ticker in tickers:
    full_url = beg_url + ticker + end_url

    print(full_url)

    result = urllib.request.urlopen(full_url).read()
    result_dict = json.loads(result)
    fin_data = json_normalize(result_dict['chart']['result'])

    try:
        market_price = float(fin_data['meta.regularMarketPrice'][0])
        raw_finance.append(market_price)
    except (KeyError, ValueError):
        raw_finance.append(None)

print(raw_finance)

https://query1.finance.yahoo.com/v8/finance/chart/MCD?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/ORAN?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/ORCL?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/MS?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/TRI?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/CRM?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/AAPL?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/ARMK?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/MSFT?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/AXP?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/HSBC?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/YEXT?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/LYG?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/WTW?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/DVA?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/PRSO?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/KFY?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/SPWR?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/WIT?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/CSCO?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/IBIO?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/DT?metrics=high?&interval=3mo&range=5y
https://query1.finance.yahoo.com/v8/finance/chart/AWRE?metrics=high?&interval=3mo&range=5y
[286.86, 11.925, 112.825, 82.195, 141.867, 251.465, 195.279, 27.305, 373.22, 168.44, 39.073, 5.75, 2.305, 242.91, 107.23, 0.2, 54.11, 4.565, 5.02, 48.425, 1.38, 53.881, 1.62]

In [103]:
print(raw_finance)

[286.86, 11.925, 112.825, 82.195, 141.867, 251.465, 195.279, 27.305, 373.22, 168.44, 39.073, 5.75, 2.305, 242.91, 107.23, 0.2, 54.11, 4.565, 5.02, 48.425, 1.38, 53.881, 1.62]

In [104]:
type(raw_finance)
#len(raw_finance)

list

In [105]:
type(tickers)
#len(tickers)

numpy.ndarray

In [106]:
tickers_df = pd.DataFrame(tickers)

tickers_df.head()

      0
0   MCD
1  ORAN
2  ORCL
3    MS
4   TRI

In [107]:
financial_data = pd.DataFrame(raw_finance)

financial_data.head()

         0
0  286.860
1   11.925
2  112.825
3   82.195
4  141.867

In [108]:
# type(tickers_df)
type(financial_data)

tickers_df['regMarkPrice'] = raw_finance

tickers_df.head()

      0  regMarkPrice
0   MCD       286.860
1  ORAN        11.925
2  ORCL       112.825
3    MS        82.195
4   TRI       141.867

In [109]:
tickers_df.to_csv('TickerPrices.csv', index=False)